{% extends 'login/base_2.html' %}

{% block body %}     
<div class="container">
    <h1 class="center">Sign Up form for new user to register on Task Management System</h1>
    <button class="center">
      <a href="{% url 'home' %}" class="center" style="color:rgb(37, 173, 173);height:20px;width:20px">
        Home</a>
    </button> 
    <br><br>
    {% if message %}
        <h4 class="center">{{ message }}</h4>
    {% endif %}
    <div class="row">
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content center">
                <form method = "post" class="center">
                <span class="card-title center" style="font-size:30px"><b>Sign Up</b></span>
                <br><br><br>
                <form method = "post" class="center">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                      <div class="alert alert-danger">
                          <strong>Error(s):</strong>
                          <ul>
                            {% for field, errors in form.errors.items %}
                                <li>{{ field }}: {{ errors.0 }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                    {% endif %}

                    {% for field in form %}
                      <label for="{{ field.id_for_label }}" style="font-size:20px">{{ field.name }}: </label>
                      {{field}}
                      <br><br>
                    {% endfor %}
                    <label style="font-size:20px">Password:</label>
                    <input type="password" id="pass1" name="pass1" placeholder="XXXXXXX"><br>
                    <label style="font-size:20px">Confirm Password:</label>
                    <input type="password" id="pass2" name="pass2" placeholder="XXXXXXX"><br>
                    <button class="btn waves-effect waves-light" type="submit" name="action" style="color:blue;">
                        Register
                    </button>         
                    <br>
                </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}