<!-- style="position:absolute; bottom:0; width:100%;" -->
<footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col l2 s12">
          <div>
            <img src="https://drive.google.com/uc?id=1mQqRrgW3P_4bM30zjjWet0snAK5zKUIe" alt="Image"
            width="100" height="100">
          </div>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Task Management System</h5>
          <p class="grey-text text-lighten-4">
            In case of query contact the admin.
          </p>
          <p>Reachable At: admin@xyz.com</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="{% url 'Login' %}">Login</a>
            </li>
                                
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>